<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee(employee)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">

      <div class="form-group" [class.has-error]="name.invalid && name.touched">
        <label for="name" class="control-label">Name</label>
        <input id="name" required type="text" class="form-control" name="name"
               [(ngModel)]="employee.name" #name="ngModel">
        <span class="help-block" *ngIf="name.invalid && name.touched">
          Name is required
        </span>
      </div>

      
<!-- <table border=1 style="border-collapse:collapse; font-family:Arial; table-layout: fixed">
  <tr style="background-color:rgb(170, 120, 12); font-weight: bold">
    <td colspan="3" style="padding:3px; white-space:nowrap; width:100%">
      <h4>Full Name Field</h4>
    </td>
  </tr>
  <tr style="background-color:rgb(212, 149, 13); font-weight: bold">
    <td style="padding:10px; white-space:nowrap; width:33%">
      <div>touched : {{ fullNameControl.touched }}</div>
      <div>untouched : {{ fullNameControl.untouched }}</div>
    </td>
    <td style="padding:10px; white-space:nowrap; width:33%">
      <div>pristine : {{ fullNameControl.pristine }}</div>
      <div>dirty : {{ fullNameControl.dirty }}</div>
    </td>
    <td style="padding:10px; white-space:nowrap; width:33%">
      <div>valid : {{ fullNameControl.valid }}</div>
      <div>invalid : {{ fullNameControl.invalid }}</div>
    </td>
  </tr>
</table> -->
      <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input id="dob" type="date" class="form-control"
               name="dob" [(ngModel)]="dob">
      </div>

      <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email" class="control-label">Email</label>
        <input id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" type="text" class="form-control"
               name="email" #email="ngModel" [(ngModel)]="employee.email" >
               <span class="help-block" *ngIf="email?.errors.required && email.touched">
                Mail Id is required
              </span>
              <span class="help-block" *ngIf="email?.errors.pattern && email.touched">
                Mail Id is Invalid
              </span>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" type="text" class="form-control"
               name="phoneNumber" [(ngModel)]="employee.phoneNumber">
      </div>
      <div class="form-group" [class.has-error]="gender.invalid && gender.touched" >
        <label class="control-label">Gender</label>
        <div class="form-control">
        <label class="radio-inline">
          <input type="radio" required #gender="ngModel" value="male" name="gender" [(ngModel)]="employee.gender">
          Male
        </label>
        <label class="radio-inline">
          <input type="radio" required #gender ="ngModel" value="female" name="gender" [(ngModel)]="employee.gender">
          Female
        </label>
        <span class="help-block" *ngIf="gender.invalid && gender.touched">
          Gender is required
        </span>
        </div>
      </div>

      
      <div class="form-group">
        <label>Contact Preference</label>
        <div class="form-control">
        <label class="radio-inline">
          <input type="radio" value="phone" name="contact" [(ngModel)]="employee.contact">
          Phone
        </label>
        <label class="radio-inline">
          <input type="radio" value="email" name="contact" [(ngModel)]="employee.contact">
          Email
        </label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-control">
        <label class="check-inline">
          <input type="checkbox" value="isactive" name="isactive" [(ngModel)]="employee.isactive">
          Is Active
        </label>
        </div>
      </div>

      <div class="form-group"
      [class.has-error]="department.touched && department.errors?.defaultSelected">
   <label for="department" class="control-label">Department</label>
   <select id="department" #department="ngModel" name="department"
           [(ngModel)]="employee.department" appSelectValidator="select"
           class="form-control">
     <option value="select">Select Department</option>
     <option *ngFor="let dept of departments" [value]="dept.id">
       {{dept.name}}
     </option>
    </select>
   <span class="help-block"
         *ngIf="department.touched && department.errors?.defaultSelected">
     Department is required
   </span>
 </div>
 

      <!-- <table border=1 style="border-collapse:collapse; font-family:Arial; table-layout: fixed">
        <tr style="background-color:silver; font-weight: bold">
          <td colspan="3" style="padding:3px; white-space:nowrap; width:100%">
            <h4>Employee Form</h4>
          </td>
        </tr>
        <tr style="background-color:silver; font-weight: bold">
          <td style="padding:10px; white-space:nowrap; width:33%">
            <div>touched : {{ employeeForm.touched }}</div>
            <div>untouched : {{ employeeForm.untouched }}</div>
          </td>
          <td style="padding:10px; white-space:nowrap; width:33%">
            <div>pristine : {{ employeeForm.pristine }}</div>
            <div>dirty : {{ employeeForm.dirty }}</div>
          </td>
          <td style="padding:10px; white-space:nowrap; width:33%">
            <div>valid : {{ employeeForm.valid }}</div>
            <div>invalid : {{ employeeForm.invalid }}</div>
          </td>
        </tr>
      </table> -->

      <div ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup"
      compareDirectiveValidator [class.has-error]="passwordGroup.errors?.notEqual
      && !confirmPassword.errors?.required">

  <div class="form-group"
        [class.has-error]="password.touched && password.invalid">
    <label for="password" class="control-label">Password</label>
    <input name="password" required type="text" class="form-control"
            [(ngModel)]="employee.password" #password="ngModel">
    <span class="help-block"
          *ngIf="password.touched && password.errors?.required">
      Password is required
    </span>
  </div>

  <div class="form-group"
        [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
    <label for="confirmPassword" class="control-label">Confirm Password</label>
    <input name="confirmPassword" required type="text" class="form-control"
            [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel">
    <span class="help-block"
          *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
      Confirm Password is required
    </span>
    <span class="help-block" *ngIf="confirmPassword.touched &&
          passwordGroup.errors?.notEqual && !confirmPassword.errors?.required">
      Password and Confirm Password does not match
    </span>
  </div>

</div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit"  [disabled]="employeeForm.invalid">Save</button>
    </div>
  </div>
</form>

Angular Generated Forom Model : {{employeeForm.value | json}}
<br/>
<br/>
Our Employee Model : {{ employee | json}}